<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Классификация</title>
    <link rel="stylesheet" href="/styleForStory.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
        </ul>
    </nav>

    <div class="timeline">

        <div class="container left-container">
            <div class="text-box">
                <h2>Древний мир</h2>
                <small>до нашей эры</small>
                <p>В эпоху, когда бронзовые мечи были символом силы, а философские диспуты заполняли агоры, искусство слова ценилось не меньше, чем могущество воинов. Древние ораторы, поднимаясь перед толпой, брали власть над умами своих слушателей, владея риторикой, которая стала золотым стандартом убеждения. Среди них были <strong>Исократ</strong>, чей ум и красноречие сделали его одним из величайших ораторов Афинской демократии; <strong>Демосфен</strong>, чьи агрессивные и пронзительные речи заставляли врагов колебаться; и <strong>Цицерон</strong>, чьи философские и политические трактаты стали образцом классической прозы и влияли на правление Римской империи.
                    <span class="left-container-arrow"></span>
                    </p>
            </div>
        </div>

        
        <div class="container right-container">
            <div class="text-box">
                <h2>Средние века</h2>
                <small>V век - XV век</small>
                <p> Во времена, когда городские стены казались неотъемлемыми, а католическая церковь диктовала правила, ораторы находили свой голос в тишинах монастырей и кафедральных соборов. Их слова проникали сквозь время, звуча негромко, но внушительно, удерживая власть над душами. <strong>Бернард Клерво</strong>, возносивший свои молитвы и проповеди в монастырях, стал символом благочестия и духовного возвышения. <strong>Августин Аврелий</strong>, ставший епископом и теологом, оказал значительное влияние на формирование христианской доктрины. И <strong>Томас Бекет</strong>, архиепископ Кентерберийский, стал мучеником защиты церковной независимости перед королем Генрихом II, что привело к укреплению роли церкви в средневековом обществе.<span class="right-container-arrow"></span>
                </p>
                
            </div>
        </div>
        
        <div class="container left-container">
            <div class="text-box">
                <h2>Возрождение</h2>
                <small>XIV - XVII век</small>
                <p>В эпоху, когда искусство и наука расцветали на фоне средневековой тьмы, ораторы выходили из-под куполов итальянских соборов, чтобы проповедовать новые идеи. Их слова несли в себе вихрь перемен, разрушая устаревшие представления и воспламеняя огонь знания. <strong>Микеланджело Буонарроти</strong>, скульптор и художник, не только творил произведения искусства, но и возвышал души своими речами о величии творчества. <strong>Лоренцо Медичи</strong>, покровитель искусства и науки, поддерживал великих умов своего времени, способствуя расцвету культуры. А <strong>Мартин Лютер</strong>, выступивший против тирании католической церкви, заложил основы Протестантской Реформации, чьи последствия изменили ход истории.<span class="left-container-arrow"></span>
                </p>
            </div>
        </div>
        
        <div class="container right-container">
            <div class="text-box">
                <h2>Эпоха Просвещения</h2>
                <small>XVII - XVIII век</small>
                <p>Во времена, когда печатный пресс распространял идеи свободы и разума, ораторы становились голосами оппозиции и прогресса. Их речи освещали мрак невежества, поднимая знамя Просвещения над головами толп. <strong>Джордж Вашингтон</strong>, один из основателей США, не только вел войну за независимость, но и обращался к обществу с идеалами свободы и справедливости. <strong>Жан-Жак Руссо</strong>, философ-просветитель, своими трудами и выступлениями за народный суверенитет вдохновлял людей на борьбу за свои права. <strong>Дени Дидро</strong>, редактор "Энциклопедии", стал символом свободы мысли и демократизации знаний, открывая дорогу к новому эпохальному пониманию мира.<span class="right-container-arrow"></span>
                </p>
            </div>
        </div>
        
        <div class="container left-container">
            <div class="text-box">
                <h2>Новое время</h2>
                <small>XIX - XXI век</small>
                <p>Когда радиоволны распространялись по всему миру, а телевизионные экраны становились окнами в другие реальности, ораторы во главе с политическими лидерами выходили на новые баррикады информационной войны. Их слова становились звездами, мерцающими в эфире, наполняя вечерние эфиры и вдохновляя нации. <strong>Барак Обама</strong>, первый афроамериканский президент США, своим красноречием и умением увлечь аудиторию продолжал традиции великих ораторов прошлого, став символом надежды и перемен. <strong>Мартин Лютер Кинг мл.</strong>, лидер движения за гражданские права, своими выступлениями вдохновлял миллионы людей бороться за равноправие и справедливость. <strong>Уинстон Черчилль</strong>, великий британский политик, своими речами во время Второй мировой войны поддерживал дух своей нации, помогая ей противостоять фашистскому нашествию и достигнуть победы.<span class="left-container-arrow"></span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>